*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

header {
    padding-top: 1.7rem;
    text-align: center;
    font-size: 1.3rem;
}

.sequence{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1.5rem;
}

.first-half{
    display: flex;
    min-width: 40%;
    align-items: center;
    justify-content: space-around;
}

.mute {
    padding: 0.8rem;
    border: none;
    background-color: rgb(192, 192, 192);
    color: rgb(22, 22, 22);
    cursor: pointer;
}

.mute-btn{
    pointer-events: none;
}

.options {
    padding: 0.65rem 0.85rem;
}

.notes{
    display: flex;
}

.note {
    cursor: pointer;
    height: 3.3rem;
    width: 3.3rem;
    margin: 0.75rem;
}

.kick-note{
    background-color: rgb(192, 158, 221);
    transition: 0.3s;
}
.snare-note{
    background-color: rgb(219, 161, 178);
    transition: 0.3s;
}
.hihat-note{
    background-color: rgb(159, 181, 223);
    transition: 0.3s;
}

.sound1{
    background-color: rgb(181, 221, 226);
    transition: 0.3s;
}

.sound2 {
    background-color: rgb(182, 229, 213);
    transition: 0.3s;
}

.kick-selected {
    background-color: rgb(132, 48, 206);;
}
.snare-selected {
    background-color: rgb(219, 56, 105);;
}
.hihat-selected {
    background-color: rgb(57, 110, 209);
}

.s1selected{
    background-color: rgb(67, 203, 221);
}

.s2selected {
    background-color: rgb(54, 224, 156);
}


.play{
    text-align: center;
}

.play button {
    padding: 0.65rem 2.2rem;
    font-size: 1.2rem;
    margin-top: 1rem;
    background-color: rgb(192, 192, 192);
    color: rgb(22, 22, 22);;
    border: none;
    cursor: pointer;
}

.isMuted {
    opacity: 0.5;
}

@keyframes playing {
    from{}
    to{transform: scale(1.3);}
}

.slidercontainer{
    text-align: center;
}

.slidercontainer span{
    margin: 10px;
}

.slider {
    -webkit-appearance: none;
    width: 40%;
    height: 15px;
    background: #e9e9e9;
    outline: none;
    opacity: 0.85;
    margin-top: 3rem;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 1rem;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #494949;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #494949;
    cursor: pointer;
  }